<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated PflehoMT -->
    <package class="fr.inria.diverse.melange.pfleho.pflehomt.gpfl.GpflPackage" genModel="model-gen/PflehoMT.genmodel" uri="http://fr.inria.diverse.melange.pfleho.pflehomt/gpfl/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated PflehoMT -->
    <package class="fr.inria.diverse.melange.pfleho.pflehomt.leho.LehoPackage" genModel="model-gen/PflehoMT.genmodel" uri="http://fr.inria.diverse.melange.pfleho.pflehomt/leho/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated XLehoMT -->
    <package class="fr.inria.diverse.melange.pfleho.xlehomt.leho.LehoPackage" genModel="model-gen/XLehoMT.genmodel" uri="http://fr.inria.diverse.melange.pfleho.xlehomt/leho/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated PflMT -->
    <package class="fr.inria.diverse.melange.pfleho.pflmt.leho.LehoPackage" genModel="model-gen/PflMT.genmodel" uri="http://fr.inria.diverse.melange.pfleho.pflmt/leho/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated GpflMT -->
    <package class="fr.inria.diverse.melange.leho.gpflmt.gpfl.GpflPackage" genModel="model-gen/GpflMT.genmodel" uri="http://fr.inria.diverse.melange.leho.gpflmt/gpfl/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated AbstractLehoMT -->
    <package class="fr.inria.diverse.melange.leho.abstractlehomt.leho.LehoPackage" genModel="model-gen/AbstractLehoMT.genmodel" uri="http://fr.inria.diverse.melange.leho.abstractlehomt/leho/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated LehoMT -->
    <package class="fr.inria.diverse.melange.leho.lehomt.leho.LehoPackage" genModel="model-gen/LehoMT.genmodel" uri="http://fr.inria.diverse.melange.leho.lehomt/leho/"/>
  </extension>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated PFLehoMT -->
    <package class="fr.inria.diverse.melange.leho.pflehomt.leho.LehoPackage" genModel="model-gen/PFLehoMT.genmodel" uri="http://fr.inria.diverse.melange.leho.pflehomt/leho/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="fr.inria.diverse.melange.leho.PFLehoMT" uri="http://fr.inria.diverse.melange.leho.pflehomt/">
      <subtyping modeltypeId="fr.inria.diverse.melange.leho.LehoMT"/>
    </modeltype>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="Policy:fr.inria.diverse.melanger.PolicyGlue;Filter:fr.inria.diverse.melanger.FilterGlue" entryPoints="" exactType="fr.inria.diverse.melange.leho.PFLehoMT" id="fr.inria.diverse.melange.leho.PFLeho" uri="http://fr.inria.diverse.melange.leho.pfleho/leho/">
      <adapter class="fr.inria.diverse.melange.leho.pfleho.adapters.lehomt.PFLehoAdapter" modeltypeId="fr.inria.diverse.melange.leho.LehoMT"/>
      <adapter class="fr.inria.diverse.melange.leho.pfleho.adapters.pflehomt.PFLehoAdapter" modeltypeId="fr.inria.diverse.melange.leho.PFLehoMT"/>
    </language>
  </extension>
</plugin>
